{% extends 'base.html' %}
{% load static %}
{% block title %}Home Page{% endblock title %}
{% block style_link %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">{% endblock style_link %}


{% block body %}

<section id="header" class="text-center">
    <div class="container-fluid text-center mb-4 he">
        <img class="im" src="{% static 'images/logo3.png' %}" alt="">
        <h2 class="pt-5 mb-0">Millions of verified Members</h2>
        <div class="icon_dad mt-4">
            <div class="icons"><img class="icon" src="https://cdn-icons-png.flaticon.com/128/7542/7542151.png"
                    data-src="https://cdn-icons-png.flaticon.com/128/7542/7542151.png" alt="Friends " title="Friends "
                    class="lzy lazyload--done" srcset="https://cdn-icons-png.flaticon.com/128/7542/7542151.png 4x">
                </div>
                <p class="me-5">Best Matches </p>
            <div class="icons"><img class="icon" src="https://cdn-icons-png.flaticon.com/128/10698/10698215.png"
                    data-src="https://cdn-icons-png.flaticon.com/128/10698/10698215.png" alt="Shield " title="Shield "
                    class="lzy lazyload--done" srcset="https://cdn-icons-png.flaticon.com/128/10698/10698215.png 4x">
                </div>
                <p class="me-5">Verified Profiles </p>
            <div class="icons"><img class="icon" src="https://cdn-icons-png.flaticon.com/128/3064/3064197.png"
                    data-src="https://cdn-icons-png.flaticon.com/128/3064/3064197.png" alt="Padlock " title="Padlock "
                    class="lzy lazyload--done" srcset="https://cdn-icons-png.flaticon.com/128/3064/3064197.png 4x">
                </div>
                <p>100% Privacy</p>
        </div>
    </div>
    <a class="btn btn-dark cp mt-0 mb-5" href="/update_profile">Update your Profile</a>
</section>

<section id="about" class="pt-5 text-center">
    <h1 class="mb-4">About Us</h1>
    <div class="container p-4">
        <p>bla</p>
        <button class="btn btn-primary">Know more</button>
    </div>
</section>

<section id="contact">
    <h1 class="mb-5 text-center">Contact Us</h1>
    <div class="container d-flex h-75 gap-3 pb-5">
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8388.364573745752!2d77.48390561131814!3d12.977528688226924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae3c11c4e33205%3A0x84408cc07d7019e5!2sEast%20West%20Institute%20of%20Technology!5e0!3m2!1sen!2sin!4v1709264987203!5m2!1sen!2sin"            
                referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>
        </div>
        <div class="container Contact_us text-black text-center p-4">
            <form method="post">
                {% csrf_token%}
                <div class="mb-3">
                    {{form.name}}
                </div>
                <div class="mb-3">
                    {{form.email}}
                </div>
                <div class="mb-3">
                    {{form.subject}}
                </div>
                <div class="mb-3">
                    {{form.message}}
                </div>
                <button type="submit" class="btn btn-primary w-100 ">Submit</button>
            </form>
        </div>
    </div>
</section>

<style>
    .im {
        mix-blend-mode: darken;
    }
</style>
<script>
    document.getElementsByTagName('input')[1].placeholder = "Enter your name"
    document.getElementsByTagName('input')[2].placeholder = "Enter email"
    document.getElementsByTagName('input')[3].placeholder = "Enter subject"
    document.getElementsByTagName('textarea')[0].placeholder = "Type something..."
</script>

{% endblock body %}